name: Build and Attest

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      actions: read
      contents: write
      attestations: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Build binary
        run: |
          go build -o build-sample main.go
          chmod +x build-sample

      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          file: ./build-sample
          artifact-name: "build-sample-sbom.spdx.json"

      - name: Generate build provenance attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "build-sample"

      - name: Generate SBOM attestation
        uses: actions/attest-sbom@v2
        with:
          subject-path: "build-sample"

      - name: Upload binary as artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-sample-binary
          path: build-sample

      - name: Upload SBOM as artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-sample-sbom
          path: build-sample-sbom.spdx.json
